.main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  border-radius: 734px;
}

p {
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  background-color: aqua;
  
}
